.layui-side.layui-bg-black
    .layui-side-scroll
        ul.layui-nav.layui-nav-tree(lay-filter="test")
            li.layui-nav-item.layui-nav-itemed
                a(href="javascript:;") 所有商品
                span.layui-nav-more
                dl.layui-nav-child
                    dd
                        a(href="javascript:;") 列表一
                    dd
                        a(href="javascript:;") 列表二
                    dd
                        a(href="javascript:;") 列表三
                    dd
                        a(href="javascript:;") 列表四
            li.layui-nav-item.layui-nav-itemed
                a(href="javascript:;") 所有商品
                span.layui-nav-more
                dl.layui-nav-child
                    dd
                        a(href="javascript:;") 列表一
                    dd
                        a(href="javascript:;") 列表二
                    dd
                        a(href="javascript:;") 列表三
                    dd
                        a(href="javascript:;") 列表四
            li.layui-nav-item.layui-nav-itemed
                a(href="javascript:;") 所有商品
                span.layui-nav-more
                dl.layui-nav-child
                    dd
                        a(href="javascript:;") 列表一
                    dd
                        a(href="javascript:;") 列表二
                    dd
                        a(href="javascript:;") 列表三
                    dd
                        a(href="javascript:;") 列表四
            li.layui-nav-item.layui-nav-itemed
                a(href="javascript:;") 所有商品
                span.layui-nav-more
                dl.layui-nav-child
                    dd
                        a(href="javascript:;") 列表一
                    dd
                        a(href="javascript:;") 列表二
                    dd
                        a(href="javascript:;") 列表三
                    dd
                        a(href="javascript:;") 列表四