.layui-header 
    .layui-logo 后台
    ul.layui-nav.layui-layout-left
        li.layui-nav-item 
            a(href="") 控制台
        li.layui-nav-item 
            a(href="") 控制台
        li.layui-nav-item 
            a(href="") 控制台
        li.layui-nav-item
            a(href="javascript:;") 其他系统
                span.layui-nav-more
            dl.layui-nav-child.layui-anim.layui-anim-upbit
                dd
                    a(href) 邮件管理
                dd
                    a(href) 邮件管理
                dd
                    a(href) 邮件管理

